<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite 1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80bc98">  <td>16/02/22 23:19:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BBBHome.bbbHomeAndShop()[pri:0, instance:com.testscript.BBBHome@5e9c8834]">bbbHomeAndShop</td> 
  <td>main@795643864</td>   <td></td> </tr>
<tr bgcolor="648570">  <td>16/02/22 23:19:04</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.testscript.BBBOrederplacementPP@13c32369]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@795643864</td>   <td></td> </tr>
<tr bgcolor="bf9bf7">  <td>16/02/22 23:19:04</td>   <td>90</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BBBOrederplacementPP.payPalTest()[pri:0, instance:com.testscript.BBBOrederplacementPP@13c32369]">payPalTest</td> 
  <td>main@795643864</td>   <td></td> </tr>
</table>
