<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression test runs</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a069a6">  <td>16/01/22 14:22:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BBBHome.setBrowser(java.lang.String)[pri:0, instance:com.testscript.BBBHome@880ec60]">&gt;&gt;setBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@895947612</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/22 14:22:01</td>   <td>197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.testscript.BBBHome@880ec60]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@895947612</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>16/01/22 14:22:21</td>   <td>20351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BBBHome.bbbHomeAndShop()[pri:0, instance:com.testscript.BBBHome@880ec60]">bbbHomeAndShop</td> 
  <td>main@895947612</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/22 14:22:57</td>   <td>56961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:com.testscript.BBBHome@880ec60]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@895947612</td>   <td></td> </tr>
</table>
