<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel test runs</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a069a6">  <td>16/01/22 14:01:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BBBHome.setBrowser(java.lang.String)[pri:0, instance:com.testscript.BBBHome@880ec60]">&gt;&gt;setBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@293788094</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>16/01/22 14:01:08</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BBBHome.setBrowser(java.lang.String)[pri:0, instance:com.testscript.BBBHome@2ed94a8b]">&gt;&gt;setBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1549294590</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>16/01/22 14:01:08</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BBBHome.setBrowser(java.lang.String)[pri:0, instance:com.testscript.BBBHome@3cda1055]">&gt;&gt;setBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@499100107</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>16/01/22 14:01:08</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BBBHome.setBrowser(java.lang.String)[pri:0, instance:com.testscript.BBBHome@3498ed]">&gt;&gt;setBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1656150509</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/22 14:01:08</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.testscript.BBBHome@3498ed]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1656150509</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/22 14:01:08</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.testscript.BBBHome@3cda1055]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@499100107</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/22 14:01:08</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.testscript.BBBHome@2ed94a8b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1549294590</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/22 14:01:08</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.testscript.BBBHome@880ec60]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@293788094</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>16/01/22 14:01:31</td>   <td>23387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BBBHome.bbbHomeAndShop()[pri:0, instance:com.testscript.BBBHome@2ed94a8b]">bbbHomeAndShop</td> 
  <td>TestNG@1549294590</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>16/01/22 14:01:31</td>   <td>23519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BBBHome.bbbHomeAndShop()[pri:0, instance:com.testscript.BBBHome@3498ed]">bbbHomeAndShop</td> 
  <td>TestNG@1656150509</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>16/01/22 14:01:34</td>   <td>26460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BBBHome.bbbHomeAndShop()[pri:0, instance:com.testscript.BBBHome@880ec60]">bbbHomeAndShop</td> 
  <td>TestNG@293788094</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>16/01/22 14:02:20</td>   <td>72088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BBBHome.bbbHomeAndShop()[pri:0, instance:com.testscript.BBBHome@3cda1055]">bbbHomeAndShop</td> 
  <td>TestNG@499100107</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/22 14:03:36</td>   <td>148372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:com.testscript.BBBHome@880ec60]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@293788094</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/22 14:03:42</td>   <td>154454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:com.testscript.BBBHome@3cda1055]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@499100107</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/22 14:04:23</td>   <td>195324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:com.testscript.BBBHome@3498ed]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1656150509</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/01/22 14:04:33</td>   <td>205675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:com.testscript.BBBHome@2ed94a8b]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>TestNG@1549294590</td>   <td></td> </tr>
</table>
