<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b8e1cc">  <td>16/02/23 00:17:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BBBOrederplacementPP.payPalTest()[pri:0, instance:com.testscript.BBBOrederplacementPP@7747027a]">payPalTest</td> 
  <td>main@2086088568</td>   <td></td> </tr>
<tr bgcolor="92f49d">  <td>16/02/23 00:17:37</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.testscript.BBBOrederplacementPP@7747027a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2086088568</td>   <td></td> </tr>
</table>
